@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Condensed");
html {
  background: linear-gradient(#0e0e10, #1c222b);
}

* {
  box-sizing: border-box;
  font-family: "Encode Sans Condensed", sans-serif !important;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#0e0e10, #1c222b);
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
  font-family: "Encode Sans Condensed", sans-serif !important;
}

body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
}

/* Header */
.subMenu {
  color: black !important;
}

i.icon {
  font-family: Icons !important;
}

.ui.button {
  border-radius: 0;
}

.right .button {
  margin-left: 0.5em !important;
}

.landingImg {
  width: 100%;
  max-height: 93vh;
}

.menu {
  height: 7vh;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.ui .logo {
  filter: invert(100%);
}

/* Home Page */
.home {
  margin-top: 7vh;
  height: 100%;
}

.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-bottom: -20vh;
}

.fullscreen-video-wrap video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay {
  margin-top: 7vh;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1B1C1D;
  z-index: 1;
  opacity: 0.6;
}

.overlayContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
}

.home1, .home2 {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 1em auto;
  height: 45vh;
}

article {
  padding: 1em;
  border-radius: 0.2em;
  width: 45%;
}

.overlayContent article h1 {
  font-size: 3em;
  text-align: center;
}

.atkbut {
  background-color: #AA511F !important;
}

.defbut {
  background-color: #245EAF !important;
}

.rankimg {
  width: 10vh !important;
  height: 10vh !important;
}

.overlayContent article img {
  width: 100%;
  height: 100%;
}

.home1 {
  text-align: right;
}

.homeheader {
  height: 10vh;
  width: 100%;
}

/* op containers */
.imgCol {
  height: 100%;
  width: 100%;
  position: relative;
}

.opImg {
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}

.opscontainer {
  max-height: 93vh;
  position: fixed;
  margin-top: 7vh;
  font-family: "Encode Sans Condensed", sans-serif !important;
}

.opsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2em;
  align-items: flex-start;
  overflow: scroll;
  max-height: 95vh;
}

.ops {
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.opCard {
  background-image: url(/images/r6-siege-v3-generic-bg.jpg);
  background-repeat: no-repeat;
  color: white;
  margin: 0.5em;
  padding: 0 1em;
  height: 25vh;
  width: 50vh;
}

.opCard p {
  color: white;
  line-height: 1em;
}

.opCardInfo {
  background: rgba(10, 10, 10, 0.5);
  padding: 0.5em;
}

.btn {
  background-color: #36a9e0;
}

.atkHeader {
  background: #AA511F;
  height: 10vh;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}

.atkHeader h3 {
  margin: 0;
  font-size: 3.5em;
}

.defHeader {
  background: #245EAF;
  height: 10vh;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}

.defHeader h3 {
  margin: 0;
  font-size: 3.5em;
}

.atkops {
  height: 91vh;
  position: static;
}

.atkopsList {
  height: 100%;
}

.hide {
  display: none;
}

/* Op Card */
*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  margin: 0em;
  overflow: hidden;
  width: 24vw;
}

.op-card {
  background: whitesmoke;
  color: black;
  width: 100%;
  height: 30vh;
  display: inline-block;
  margin: auto;
  border-radius: 5px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
}

.op-card__image {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url(/images/r6-siege-v3-generic-bg.jpg);
}
.op-card__image :hover {
  transform: scale(1.1);
}
.op-card__image img {
  width: 80%;
  height: 100%;
}

.op-card__level {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 3px;
  margin-top: 10px;
}

.op-card__gadget-title {
  font-size: 1.3em;
  color: black;
  margin-bottom: 5px;
  margin-top: 10px;
}

.op-card__unit-name {
  font-size: 2.4em;
  position: absolute;
  bottom: 5%;
  left: 25%;
  width: 70%;
  margin: 0 auto;
  background-color: whitesmoke;
  color: black;
  font-weight: 900;
  z-index: 30;
  padding: 0.5em;
}

.one-half {
  width: 30%;
  height: 35%;
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  background-color: whitesmoke;
  box-shadow: 5px 0 8px -2px #2c2c2c;
}

.clearfix:after {
  visibility: hidden !important;
  display: block !important;
  font-size: 0 !important;
  content: " " !important;
  clear: both !important;
  height: 0 !important;
}

/* Op Deatil Page */
.opDetail {
  margin-top: 7vh;
  height: 93vh;
  font-family: "Encode Sans Condensed", sans-serif !important;
}

.oppage {
  font-family: "Encode Sans Condensed", sans-serif !important;
}

.segment {
  display: flex;
  color: black;
  height: 15%;
}

.progress {
  height: 30px;
  width: 100%;
  margin-left: 1em;
}

.opHeader {
  width: 60%;
  height: 60vh;
}

.opHeaderName {
  z-index: 10;
  font-size: 3em;
  background: rgba(10, 10, 10, 0.5);
  color: white;
  margin: 0 auto;
  top: 0;
  position: absolute;
  margin-top: 7vh !important;
  width: 20%;
  text-align: center;
}

.stats {
  width: 25%;
  height: 60vh;
  margin-left: 10% !important;
}

.opImgHeader {
  width: 100%;
  height: 100%;
}

.topdetail {
  display: flex;
  flex-direction: row;
  background-color: #245EAF;
  background: linear-gradient(#245EAF, #0e0e10);
  -webkit-box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.29);
}

.atkertop {
  background: linear-gradient(#AA511F, #0e0e10);
}

.backgroundOp {
  width: 100%;
  display: flex;
  background-position: left;
  background-position-y: 0;
  background-size: inherit;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.29);
}

.org {
  margin-left: 1em;
  margin-top: 0;
}

.content {
  font-size: 2em;
  color: black;
}

.opbadgeheader {
  height: 15vh;
  position: absolute;
  bottom: 220px;
}

.biomodal {
  height: 30vh;
}

.biobutt {
  margin: 0 auto !important;
  width: 60%;
  color: white !important;
  background: #245EAF !important;
}

/* mid detail op section */
.mid-detail {
  display: flex;
  flex-direction: column;
  height: 60vh;
  background: url(/images/r6-siege-v3-generic-bg.jpg);
  padding-top: 2em;
}

.priweapons, .secweapons, .gadgets {
  margin: 0 !important;
  width: 20% !important;
}

.priweapons .segment, .secweapons .segment, .gadgets .segment {
  height: 20vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1em !important;
}

.priweapons .segment h1, .secweapons .segment h1, .gadgets .segment h1 {
  font-size: 1em;
}

.priweapons .segment img, .secweapons .segment img, .gadgets .segment img {
  width: 70%;
  margin: 0 auto;
}

.gadgets .segment img {
  width: 50%;
  margin: 0 auto;
}

.weapons {
  display: flex;
  flex-direction: row;
  height: 100%;
  text-align: center;
}

.uniqueability {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  margin-left: 2%;
  width: 40%;
  text-align: center;
  height: 100%;
}

.uniqueability h2 {
  margin: 0;
  font-size: 2em;
}

.gadgetimg {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 18vh;
  padding: 5vh;
  font-size: 1.5em;
}

.gadgetdesc {
  height: 20vh;
}

.gadgetdesc p {
  padding: 0.5em;
}

.gadgets {
  margin-right: 2% !important;
}

.gadgets img {
  width: 100%;
}

/* map container */
.mapHeader {
  width: 100%;
  height: 7vh;
  text-align: center;
  background: #245EAF;
  display: flex;
}

.mapHeader h3 {
  margin: auto auto;
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
}

.mapcontainer {
  margin-top: 7vh;
  max-height: 93vh;
}

.maps {
  margin-top: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* map card */
.mapcard {
  width: 30vh;
  height: 20vh;
  text-align: center;
  border: none;
  margin: 1em auto;
  border-radius: 1vh;
}

.text-shadow {
  text-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.507);
  font-size: 2em;
}

.flip {
  position: relative;
  display: flex;
}

.front {
  background-size: cover;
  display: flex;
  border-radius: 1vh;
  width: 100%;
  height: 20vh;
}

.front h1 {
  margin: auto auto;
  color: whitesmoke;
  font-size: 3em;
  text-align: center;
}

.mapcard:hover {
  transform: scale(1.1);
}

/* detail map page */
.mapDetailContainer {
  margin-top: 7vh;
  max-height: 93vh;
}

.mapDetailHeader {
  width: 100%;
  height: 7vh;
  text-align: center;
  display: flex;
  background-color: #AA511F;
}

.mapDetailPage section {
  display: flex;
}

.mapDetailHeader h3 {
  margin: auto auto;
  color: whitesmoke;
  font-size: 2em;
  text-align: center;
}

/* buttons for atk plan and defense plan */
.createBut {
  display: flex;
  flex-direction: row;
  flex-flow: row-reverse;
  margin: 0.5em 0.2em;
  width: 50%;
}

.drawingSec {
  display: flex;
  flex-direction: row;
  flex-flow: row;
  margin: 0.5em 0.2em;
  width: 50%;
  color: black;
}

.creAtkBut {
  background: #AA511F !important;
  color: white !important;
}

.creDefBut {
  background: #245EAF !important;
  color: white !important;
}

/* div for maps */
.mapSection {
  background: #36a9e0;
  display: flex !important;
  flex-direction: row !important;
  width: 100%;
}

.mapViewer {
  width: 75%;
  height: 80vh;
  background: #245EAF;
  padding: 0.5em;
}

.map {
  background: white;
  color: black;
  width: 100%;
}

.map img {
  width: 100%;
  height: 100%;
}

.mapOptions {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.mapOptions h1 {
  font-size: 1.2em;
  margin: 0.3em;
}

.floorOptions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.floorOptions .floor {
  margin: 0.2em;
}

.secureLocations .ui.buttons, .hosLocations .ui.buttons, .atkLocations .ui.buttons {
  flex-wrap: wrap !important;
  border-radius: none !important;
}

/* Map CSS */
#root, #app, #map {
  height: 100%;
}

/*# sourceMappingURL=index.css.map */
