@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed');
html{
  background: linear-gradient(rgb(14, 14, 16),rgb(28, 34, 43));
}
*{
  box-sizing: border-box;
  font-family: 'Encode Sans Condensed', sans-serif !important;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(rgb(14, 14, 16),rgb(28, 34, 43));
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}
body ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 0px;
}
/* Header */
.subMenu{
 color: black !important;
}
.ui.button { 
  border-radius: 0; 
}
.right .button{
  margin-left: .5em !important;
}
.landingImg{
  width: 100%;
  max-height: 93vh;
}
.ui{
  height: 7vh;
}
/* op containers */
.imgCol {
  height: 100%;
  width: 100%;
  position: relative;
}
.opImg{
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
.opscontainer{
  max-height: 93vh;
  position: fixed;
  margin-top: 7vh;
}
.opsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 2em;
  align-items: flex-start;
  overflow: scroll;
  max-height: 95vh;
}
.ops {
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.opCard {
  background-image: url(/images/r6-siege-v3-generic-bg.jpg);
  background-repeat: no-repeat;
  color: white;
  margin: .5em;
  padding: 0 1em;
  height: 25vh;
  width: 50vh;
}

.opCard p {
  color: white;
  line-height: 1em;
}
.opCardInfo{
  background: rgba(10, 10, 10, 0.5);
  padding: .5em;
}

.btn {
  background-color: #36a9e0;
}

.atkHeader {
  background: #AA511F;
  height: 10vh;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}

.atkHeader h3{
  margin: 0;
  font-size: 3.5em;
}
.defHeader {
  background: #245EAF;
  height: 10vh;
  text-align: center;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  z-index: 10;
}
.defHeader h3{
  margin: 0;
  font-size: 3.5em;
}
.atkops {
  height: 91vh;
  position: static;
}
.atkopsList{
  height: 100%;
}
.hide {
  display: none;
}
/* Op Card */


*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 2em;

}
 li {
   text-align: left;
   font-size: 1.3em;
 }


.op-card {
  background: whitesmoke;
  color: black;
  width: 200px;
  display: inline-block;
  margin: auto;
  border-radius: border-radius-size + 5;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
}
.op-card:hover {
  transform: scale(1.1);
}

.op-card__image {
  position: relative;
  height: 100px;
  width: 200px;
}

.op-card__image {
  background: url(/images/r6-siege-v3-generic-bg.jpg);
  
}

.op-card__image > img {
  width: 200px;
  position: absolute;    
  top: -71px;
  left: -5px;
}

.op-card__level {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 3px;
  margin-top: 10px;
}
.op-card__gadget-title {
  font-size: 1.3em;
  color: black;
  margin-bottom: 5px;
  margin-top: 10px;
}
ul {
  list-style-type: none;
}
.gadget-name{
  padding-left: 10px;
}
.op-card__unit-name {
  font-size: 2em;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
  margin-top: 10px;
}

.op-card__unit-stats {
  color: white;
  font-weight: 700;
  background: url(/images/r6-siege-v3-generic-bg.jpg);
  
}
.organization{
  height: 100%;
}
.one-third {
  width: 30%;
  float: left;
  padding: 20px 15px;
}
.one-half {
  width: 50%;
  float: left;
}

.stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}

.stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}

.no-border {
  border-right: none;
}

.clearfix:after {
	visibility: hidden !important;
	display: block !important;
	font-size: 0 !important;
	content: " " !important;
	clear: both !important;
	height: 0 !important;
}

/* Op Deatil Page */
.opDetail{
  margin-top: 7vh;
  height: 93vh;
}
.segment {
  display: flex;
  color: black;
  height: 15%;
}
.progress{
  height: 30px;
  width: 100%;
  margin-left: 1em;
}
.opHeader{
  width: 60%;
  height: 60vh;
}
.opHeaderName{
  z-index: 10;
  font-size: 3em;
  background: rgba(10, 10, 10, 0.5);
  color: white;
  margin: 0 auto;
  top: 0;
  position: absolute;
  margin-top: 7vh !important;
  width: 20%;
  text-align: center;
}
.stats{
  width: 25%;
  height: 60vh;
  margin-left: 10% !important;
}
.opImgHeader{
  width: 100%;
  height: 100%;
}
.topdetail{
  display: flex;
  flex-direction: row;
  background-color: #245EAF;
  background: linear-gradient(#245EAF,rgb(14, 14, 16));
  -webkit-box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.29);
  box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.29);
}
.atkertop{
  background: linear-gradient(#AA511F,rgb(14, 14, 16));
}
.backgroundOp{
  width: 100%;
  display: flex;
  background-position: left;
  background-position-y: 0;
  background-size: inherit;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.29);
  -moz-box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.29);
  box-shadow: 0px 6px 6px 1px rgba(0,0,0,0.29);
}
.org{
  margin-left: 1em;
  margin-top: 0;
}
.bio{
  height: 45%;
}
.biostory{
  margin-left: 1em !important;
  font-size: 1em;
}

.mid-detail{
  display: flex;
  flex-direction: row;
  height: 60vh;
  background: url(/images/r6-siege-v3-generic-bg.jpg);
}
.opbadgeheader{
  height: 15vh;
  position: absolute;
  bottom: 220px;
}