/* Header */
.subMenu{
    color: black !important;
   }
   .sub{
    height: 10vh !important;
   }
   i.icon {
     font-family: Icons !important;
   }
   .ui.button { 
     border-radius: 0; 
   }
   .right .button{
     margin-left: .5em !important;
   }
   .landingImg{
     width: 100%;
     max-height: 93vh;
   }
   .ui .logo {
     filter: invert(100%);
   }
.profImg {
  padding: 0 !important;
  display: flex;
}
.image-cropper {
  width: 50px;
  height: 6vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  margin: 0;
  padding: 0;
}
.trigger{
  display: flex;
  i{
    align-self: flex-end;
  }
  p{
    padding: 0 .5em !important;
    margin: 0;
    height: fit-content;
    align-self: center;
  }
}

.modal{
  max-height: fit-content;
  max-width: fit-content;
  .header{
    text-align: center;
    font-size: 2.5em !important;
  }
  .signupForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    form{
      display: flex;
      flex-direction: column;
      width: 30vw;
      hr{
        color: white;
      }
    }
    .signInfo{
      display: flex;
      flex-direction: column;
      width: 30vw;
      align-items: center;
      justify-content: center;
    }
  }
  .loginForm{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    form{
      display: flex;
      flex-direction: column;
      width: 40vw;
  }
}
}