/* detail map page */
.mapDetailContainer{
    margin-top: 7vh;
    max-height: 93vh;
  }
  .mapDetailHeader{
    width: 100%;
    height: 7vh;
    text-align: center;
    display: flex;
    background-color: #AA511F;
  }
  .mapDetailPage section{
    display: flex;
  }
  .mapDetailHeader h3{
    margin: auto auto;
    color: whitesmoke;
    font-size: 2em;
    text-align: center;
  }
  /* buttons for atk plan and defense plan */
  .createBut{
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    margin: .5em .2em;
    width: 50%;
  }
  .drawingSec{
    display: flex;
    flex-direction: row;
    flex-flow: row;
    margin: .5em .2em;
    width: 50%;
    color: black;
  }
  .creAtkBut{
    background: #AA511F !important;
    color: white !important;
  }
  .creDefBut{
    background: #245EAF !important;
    color: white !important;
  }
  /* div for maps */
  .mapSection{
    background: #36a9e0;
    display: flex !important;
    flex-direction: row !important;
    width: 100%;
  }
  .mapViewer{
    width: 75%;
    height: 80vh;
    background: #245EAF;
    padding: .5em;
  }
  .map{
    background: white;
    color: black;
    width: 100%;
  }
  .map img{
    width: 100%;
    height: 100%;
  }
  .mapOptions{
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 1em;
  }
  .mapOptions h1{
    font-size: 1.2em;
    margin: .3em;
  }
  .floorOptions{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .floorOptions .floor {
    margin: .2em;
  }
  
  .secureLocations .ui.buttons, .hosLocations .ui.buttons, .atkLocations .ui.buttons{
    flex-wrap: wrap !important;
    border-radius: none !important;
  }
  /* Map CSS */
  
  #root, #app, #map {
    height: 100%;
  }