/* Op Card */
*, *:before, *:after {
    box-sizing: border-box;
  }
  
  .wrapper {
    margin: 0em;
    overflow: hidden;
    :hover{
      transform: scale(1.1);
    }
  }
   li {
     text-align: left;
     font-size: 1.3em;
   }
  
  
  .op-card {
    background: whitesmoke;
    color: black;
    width: 24vw;
    height: 30vh;
    display: inline-block;
    margin: auto;
    border-radius: 5px;
    position: relative;
    text-align: center;
    box-shadow: -1px 15px 30px -12px black;
  }
  
  .op-card__image {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(/images/r6-siege-v3-generic-bg.jpg);
  }
  
  .op-card__image > img {
    width: 100%;
  }
  
  .op-card__level {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 10px;
  }
  .op-card__gadget-title {
    font-size: 1.3em;
    color: black;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  ul {
    list-style-type: none;
  }
  .gadget-name{
    padding-left: 10px;
    text-emphasis: wrap;
    margin-top: 1em;
  }
  .op-card__unit-name {
    font-size: 2em;
    position: relative;
    width: 10vh;
    background-color: whitesmoke;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 10px;
    z-index: 30;
  }
  
  .op-card__unit-stats {
    color: white;
    font-weight: 700;
    background: url(/images/r6-siege-v3-generic-bg.jpg);
    
  }
  .one-third {
    width: 30%;
    float: left;
    padding: 20px 15px;
  }
  .one-half {
    width: 50%;
  }
  
  
  
  
  .clearfix:after {
      visibility: hidden !important;
      display: block !important;
      font-size: 0 !important;
      content: " " !important;
      clear: both !important;
      height: 0 !important;
  }
  